body {
    background-color: #f8f9fa;
}

.image-container {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #007bff;
    border-radius: 5px;
}

textarea.form-control {
    width: 100%; /* Chiều rộng cụ thể, có thể điều chỉnh */
    height: 40px; /* Chiều cao cụ thể, có thể điều chỉnh */
    resize: none; /* Tắt tính năng kéo dài */
}